/* Navbar background color */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar Link spacing and color */

    #navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  padding-left: 64px;
  text-decoration: none;
  line-height: 60px
		
}

/* Navbar Link spacing and color Mobile (not customized yet)*/
@media (max-width: 700px) { 
    #navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px;
  text-decoration: none;
		
}

}

/* Page content */
.content {
  padding: 16px;
}

/* Sticky Class with JS for scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*Avinash Bakshi*/

/* Add some top padding to the page content to prevent sudden quick movement (position:fixed and top:0 to remove) */
.sticky + .content {
  padding-top: 60px;
}

/* Code for Dropdown buttons */

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* center align image */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Spoiler Tag */

.spoiler, .spoiler2{ 
  color: black; 
  background-color:black;
}

.spoiler:hover{
  color: white;
  }

.spoiler2:hover { 
  background-color:white; 
  }


/* Border Spacing */

th, td {
  padding: 15px;
}
